/* 
This CSS file is created to address the needs of the Login page which has a seperate overall
design compared to the other HTML pages. 
 */

/* Attention: Login page CSS begind from this point*/


/* This section of code styles the container that the login information is in */
.wrapper{
    width: 90vw;
    max-width: 460px;
    /*rgba to make the background translucent */
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    /* Top and bottom padding are 30px while Left and right padding are 40px */
}

/* Styles the Login word */
.wrapper h1{
    font-size: 36px;
    text-align: center;
}

/* Styles the input box */
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

/* Styles the actual inputs to make them cover the entire div container */
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    /* Inputted text styling */
    font-size: 16px;
    color: #fff;
    /* This basically shifts the input boxes away from the edges of the bo */
    padding: 20px 45px 20px 20px;
}

/* Style the Placeholder/ Words in the input box's color */
.input-box input::placeholder{
    color: white;
}

/* 
This styles the icons and moves them to the desired location used in conjunction with the
.wrapper .input-box styling: position: relative;
 */
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    /* This centers the icons vertical height */
    transform: translateY(-50%);
    font-size: 20px;
}

/* Styling the Remember me and forgot password part dimensions*/
.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

/* Styling the checkbox*/
.remember-forget label input{
    accent-color:#49c1a2;
    margin-right: 3px;
}

/* Styling the forget me */
.remember-forget a{
    color: #39a489;
    text-decoration: none;
}

.remember-forget a:hover{
    color: #49c1a2;
    text-decoration: underline;
}

/* Styling for the Login button */
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #49c1a2;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

/* Styling for the Dont have an account function */
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    /* Top padding - 20px, Left and right padding - 0px and bottom padding - 15px */
    margin: 20px 0 15px;
}

/* Styling for the register link */
.register-link p a{
    color: #39a489;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    color: #49c1a2;
    text-decoration: underline;
}



/* The CSS styles are for the SignUp page from this point on */

/* CSS styling for the signup-box container */
.signup-box{
    width: 360px;
    height: 720px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

/* CSS styling for the Sign Up word and the text below it*/
.signup-box h1{
    text-align: center;
    padding-top: 15px;
    color: white;
}

.signup-box h4{
    text-align: center;
    color: white;
}

/* CSS styling for adjusting dimensions of the container for labels and inputs */
.signup-box form{
    width: 300px;
    margin-left: 20px;
}

/* CSS styling for the labels (E.g. First Name) of the form */
.signup-box form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    color: white;
}

/* CSS styling for the input buttons */
.signup-box form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 6px;
    outline: none;
}

/* CSS styling for the submit button */
.signup-box input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    /* Text color */
    color: white;
    font-size: 18px;
}

/* CSS styling for the First and Second section of text below */

/* This adjust the padding */
.signup-box p{
    padding-top: 15px; 
}

/* Adjust first section text */
.AgreementText p{
    text-align: center;
    font-size: 15px;
    color: white;
}

.AgreementText p a {
    color: #39a489;
    text-decoration: none;
}

.AgreementText p a:hover{
    color: #49c1a2;
    text-decoration: underline;
}

/* Adjust Second section's text */
.Section2text{
    text-align: center;
    font-size: 15px;
    color: white;
    margin-top: -50px;
}

.Section2text a{
    color: #39a489;
    text-decoration: none;
}

.Section2text a:hover{
    color: #49c1a2;
    text-decoration: underline;
}
