/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none; /* Remove underline */
    text-emphasis: none;
    color: inherit;
    cursor: pointer;
}
button{
    background-color: transparent;
    border: none;
}

/* Nav bar */
nav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 5;
    transition: top 0.3s;
    transition: background-color 0.3s 0.1s;
}
.login-btn{
    position: absolute;
    left: 3%;
    padding: 6px;
}
.logo-btn{
    display: flex;
    padding: 0;
    height: 51px;
    align-items: center;
    border: none;
}
.logo-btn img{
    height: 50px;
}
.logo-btn img:active{
    height: 52px;
}
.menu-btn{
    position: absolute;
    right: 2%;
    display: inline-block;
    z-index: 10;
}
.dropbtn{
    display: flex;
    padding: 0;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}
.dropbtn img{
    width: 46px;
    height: 46px;
}
.dropbtn img:active{
    width: 50px;
    height: 50px;
}
.myDropdownClass{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    top: 80px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 80px);
    display: none;
}
.dropdown-content{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.dropdown-content a{
    display: flex;
    color: black;
    text-align: center;
    text-decoration: none;
    margin-top: 4.5vh;
    padding: 12px;
    font-size: 40px;
    font-family: Segoe UI semibold;
    display: block;
}
.dropdown-content a:hover{
    transition: 0.1s letter-spacing, 2s opacity;
    letter-spacing: 0.1rem;
    font-size: 42px;
    color: green;
}
.show{display: block;}



/* The CSS styling for the Terms of conditions */
/* Adjust the overall TOC container dimensions */
.TOCandPrivacy{
    margin-top: 90px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Change the color of the terms of use */
.TOCandPrivacy h2{
    color: red;
}

/* Adjust the  TOC text size*/
.TOCandPrivacy p{
    font-size: 15px;
}

/* Style the lendlease link in the TOC */
.TOCandPrivacy p a{
    color: red;
}


.TOCandPrivacy p a:hover{
    color: red;
    text-decoration: underline;
}

/* Styling for the h5 in the TOC */
.TOCandPrivacy h5{
    font-weight: bold;
}

/* Styling for the list */
/* Remove the original list marker */
.TOCandPrivacy ul{
    list-style-type:none;
}

/* Adds spacing between the list contents */
.TOCandPrivacy li{
    margin-bottom: 20px;
}

/* Custom list marker */
.TOCandPrivacy li::before{
    content: "//";
    color: red;
    display: inline-block;
    width: 20px;
    margin-left: -20px;
}

/* Footer */
/* Footer background color */
footer{
    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
}
/* This determines the footers dimensions and paddings */
.footerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
}
.footerContainer h6{
    margin: 0;
}
.footerIcon h4{
    text-align: center;
    font-size: 1em;
}
.footerIcon img{
    width: 13em;
}
.footerLine{
    width: 100%;
    height: 1px;
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
    background-color: rgb(231, 244, 255);
}
.footerInner{
    display: flex;
    flex-direction: row;
    padding: 3vh 0px;
}
/* CSS for the other links */
.footerLinks{
    /* Note: 30px is for the top and bottom padding and the 0 refers to the left and right padding */
    margin-right: 16vw;
}
/* This moves the other links to the middle */
.footerLinks ul{
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footerLinks ul li{
    width: 100%;
}
/* This section of code represents the state of the links when not selected */
.footerLinks ul li a{
    color: white;
    opacity: 0.9;
}
/* This section of code represents the state of the links when a mouse hovers over it */
.footerLinks ul li a:hover{
    opacity: 1;
}
/* CSS for the socials */
.footerSocial{
    margin-right: 9vw;
}
.footerSocial img{
    width: 1.9em;
    margin: 0.1em;
}
/* CSS for info */
.footerInformation p{
    text-align: center;
    font-size: 0.92em;
    margin-bottom: 0.3em;
    opacity: 0.9;
}
/* CSS codes for the copyright section */
.footerCpr{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3vh;
    text-align: center;
    /* background-color: #FF002A; */
}
.footerCpr p{
    font-size: 0.75em;
    margin: 0;
    margin-bottom: 2vh;
    opacity: 0.9;
}





/* home page */
.cover-img{
    /* position: relative; */
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.cover-img img{
    height: 100vh;
}
.tint1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22%;
    background-color: rgba(0, 0, 0, 0.75);
    pointer-events: none;
    animation: fadeIn 1.5s ease-in-out;
}
.tint2{
    position: absolute;
    bottom: 22%;
    left: 0;
    width: 100%;
    height: 5%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.65));
    pointer-events: none;
    animation: fadeIn 1.5s ease-in-out;
}
.tint3{
    position: absolute;
    bottom: 27%;
    left: 0;
    width: 100%;
    height: 15%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
    pointer-events: none;
    animation: fadeIn 1.5s ease-in-out;
}
.cover-img h1{
    position: absolute;
    bottom: 3.5%;
    right: 7%;
    color: rgb(223, 223, 223);
    text-align: right;
    font-size: 70px;
    line-height: 70px;
    opacity: 1;
    animation: fadeIn 1.5s ease-in-out;
}
/* add fade in animation */
@keyframes fadeIn{
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;
    }
}

.mySlides{
    display: none
}
.slideshow-container{
    top: 20px;
    width: 90vw;
    position: relative;
    margin: auto;
}
/* Next & previous buttons */
.prev,
.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -16px;
    color: black;
    font-size: 20px;
}
/* Position the "next button" to the right */
.next{
    right: 0;
}
/* The dots/bullets/indicators */
.dot-container{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 1%;
    z-index: 4;
}
.dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    border-radius: 50%;
    border: 1.5px solid #FF002A;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active{
    background-color: #FF002A;
}
/* Fading animation */
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.fade:not(.show){
    opacity: 1;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.weather{
    position: relative;
    top: 4.5vh;
    width: 88vw;
    height: 50vh;
    margin: auto;
    /* color: rgb(239, 250, 239); */
    overflow: hidden;
    font-size: 3.6vw;
}
.weather video{
    width: 110%;
}
.weather h3{
    position: absolute;
    top: 4%;
    left: 7%;
    font-size: 1.45em;
}
.weather-info h4{
    font-size: 1em;
    font-weight: 500;
}
.weather-info{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 15%;
    padding-left: 23%;
}
.weather-info div{
    width: 32vw;
}
.info{
    display: flex;
    flex-direction: row;
}
.info h2{
    font-size: 1.8em;
}
.info p{
    margin-left: 2vw;
}



/* About Us page */
.scroll{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 2vh;
    align-items: center;
    width: 100%;
    z-index: 6;
}
.scroll-bar{
    display: flex;
    justify-content: space-between;
    width: 65%;
}
.scroll-bar p{
    margin: 0;
}
.scrollLine{
    width: 67%;
    height: 2px;
    background-color: black;
}
.sections{
    top: 70px;
}
.sections section{
    padding: 4vw;
}
.sections h1{
    position: relative;
    left: 12px;
    font-size: 32px;
    margin-bottom: 10px;
}
.sections h2{
    position: relative;
    left: 13px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.sections h3{
    position: relative;
    left: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.sections h4{
    position: relative;
    left: 30px;
    margin-top: 30px;
    font-size: 17px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content iframe{
    width: 70vw;
    height: 25vh;
}
.content2{
    position: relative;
    left: 40px;
}
.about{
    position: a;
    background-color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 30px;
}
.about img{
    width: 95%;
    margin-bottom: 20px;
}
.about p{
    padding: 18px;
    padding-bottom: 5px;
    width: 95%;
    font-size: 16px;
}
.direction{
    background-color: #ffdead;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 30px;
}
.extra{
    text-align: center;
    margin-top: 30px;
    font-size: 0.8em;
}
.contact{
    background-color: burlywood;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.feedback-msg{
    text-align: center;
}
.contact form{
    display: flex;
    flex-direction: column;
}
.checkbox{
    position: relative;
    display: flex;
    padding: 10px;
    padding-top: 0px;
}
.checkbox input{
    position: absolute;
    top: 1px;
}
.checkbox p{
    padding-left: 20px;
    font-size: 13px;
}
/* .contact form button{
    width: 200px;
    align-self: center;
} */

